.main-form {
  width: 813px;
  padding: 20px;
  border-radius: 6px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  font-size: 16px;
  font-family: Montserrat-Medium, Roboto, Arial, sans-serif;

  h1 {
    background-color: #7f7f7f;
    color: #fff;
    display: block;
    font-family: Montserrat-Bold, Roboto, Arial, sans-serif;
    margin: 0;
    font-size: 39px;
    padding: 50px 0;
    text-align: center;
    width: 100%;
  }
}
